<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, {:use_short_month=>true,
                                       :start_year=>1900,
				       :end_year=>Time.now.year,
				       :default=>{:year=>Time.now.year - 40,
				                  :month=> 'Jun',
						  :day=>15}
				      }, 
				      {} %>
  </div>
  <div class="field">
    <%= f.label :patient_type %><br />
    <%= f.select :patient_type, options_for_select({'Out Patient'=> :outpatient,
                                                   'In patient'=> :inpatient},:outpatient)
			   %>
  </div>
  <div class="field">
    <%= f.label 'Doctor Name' %><br />
    <%= f.collection_select :doctor_id, Doctor.all, :id, :full_name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
